.flight-deals {
  color: var(--purple-blue);
}
.arrowright-icon,
.name-of-section-container {
  position: relative;
}
.arrowright-icon {
  width: 32px;
  border-radius: var(--br-9xs);
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.see-all,
.title-row {
  display: flex;
  flex-direction: row;
}
.see-all {
  align-items: center;
  justify-content: flex-start;
  gap: 0 4px;
  text-align: right;
  color: var(--grey-300);
}
.title-row {
  align-self: stretch;
  align-items: flex-start;
  justify-content: space-between;
}
.image-icon {
  align-self: stretch;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  height: 397px;
  flex-shrink: 0;
  object-fit: cover;
}
.name,
.price {
  position: relative;
  font-weight: 600;
}
.name {
  flex: 1;
}
.price {
  width: 72px;
  text-align: right;
  display: inline-block;
  flex-shrink: 0;
}
.title-row1 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.description {
  align-self: stretch;
  position: relative;
  font-size: var(--body-default-size);
  color: var(--grey-400);
}
.card-full-card,
.card-full-card3,
.data {
  align-self: stretch;
  background-color: var(--true-white);
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.data {
  display: flex;
  padding: var(--padding-base) var(--padding-5xl);
  gap: 4px 0;
}
.card-full-card,
.card-full-card3 {
  border-radius: var(--br-xs);
  box-shadow: var(--elevation-light);
  overflow: hidden;
}
.card-full-card {
  flex: 1;
  display: flex;
}
.card-full-card3 {
  width: 410.7px;
  display: none;
}
.card-row,
.card-row1,
.cards {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.card-row1 {
  flex-direction: row;
  align-items: flex-start;
  gap: 0 40px;
}
.card-row,
.cards {
  flex-direction: column;
}
.cards {
  align-items: flex-start;
  gap: 40px 0;
  font-size: var(--header-h4-size);
}
.card-row {
  overflow-x: auto;
  align-items: center;
  padding: var(--padding-21xl) var(--padding-45xl);
  gap: 24px 0;
}
.places-to-stay {
  background: linear-gradient(180deg, #5cd6c0, #22c3a6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.price10 {
  width: 72px;
  position: relative;
  font-weight: 600;
  text-align: right;
  display: none;
  flex-shrink: 0;
}
.card-row5 {
  width: 1312px;
  display: none;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 40px;
}
.button {
  border-radius: var(--br-9xs);
  background-color: var(--purple-blue);
  height: 48px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  font-size: var(--header-h4-size);
  color: var(--grey-100);
}
.button,
.see-all2,
.title-row22 {
  flex-direction: row;
  justify-content: flex-start;
}
.see-all2 {
  display: none;
  align-items: center;
  gap: 0 4px;
  text-align: right;
  color: var(--grey-300);
}
.title-row22 {
  display: flex;
  align-items: flex-start;
  gap: 0 826px;
}
.avatar-icon {
  width: 48px;
  position: relative;
  border-radius: 50%;
  height: 48px;
  object-fit: cover;
}
.first-last {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.span {
  color: var(--grey-300);
}
.tokyo-japan-container {
  align-self: stretch;
  position: relative;
}
.star-filled-icon {
  width: 24px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 24px;
  overflow: hidden;
  flex-shrink: 0;
}
.rating-star-row,
.user-data {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.rating-star-row {
  flex-direction: row;
  padding: var(--padding-5xs) 0 0;
}
.user-data {
  align-self: stretch;
  flex-direction: column;
}
.this-is-a-container {
  align-self: stretch;
  position: relative;
  color: var(--grey-900);
}
.testimonial-social-proof,
.text {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 12px 0;
}
.testimonial-social-proof {
  flex-direction: row;
  padding: var(--padding-base);
  gap: 0 16px;
}
.testimonial-row,
.testimonial-social-proof-parent {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
}
.testimonial-social-proof-parent {
  flex-direction: row;
  align-items: flex-start;
  gap: 0 40px;
  font-size: var(--header-h4-size);
}
.testimonial-row {
  flex-direction: column;
  align-items: center;
  padding: var(--padding-45xl);
  gap: 24px 0;
}
.wordmark-icon {
  width: 131px;
  position: relative;
  height: 54px;
  overflow: hidden;
  flex-shrink: 0;
}
.footer-header {
  flex: 1;
  position: relative;
}
.footer-column-header {
  font-size: var(--header-h4-size);
  color: var(--grey-600);
}
.footer-column-header,
.footer-list-item {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-9xs);
}
.column-about,
.column-partner,
.footer-link-column,
.footer-list-item6 {
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
}
.footer-list-item6 {
  width: 184px;
  display: none;
  flex-direction: row;
  padding: var(--padding-9xs);
}
.column-about,
.column-partner,
.footer-link-column {
  width: 200px;
  display: flex;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-base) var(--padding-base) 0;
  gap: 8px 0;
}
.column-partner,
.footer-link-column {
  width: 220px;
}
.footer-link-column {
  width: 250px;
}
.link-app-store,
.link-google-play {
  width: 135px;
  position: relative;
  height: 40px;
}
.link-app-store {
  border-radius: var(--br-9xs);
}
.link-google-play {
  object-fit: cover;
}
.column-mobile,
.footer-content {
  display: flex;
  align-items: flex-start;
}
.column-mobile {
  width: 200px;
  flex-direction: column;
  justify-content: flex-start;
  gap: 12px 0;
}
.footer-content {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-41xl) var(--padding-101xl) var(--padding-5xl);
}
.footer-divider,
.instagram-icon,
.twitter-icon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.footer-divider {
  align-self: stretch;
  max-width: 100%;
  height: 0;
}
.instagram-icon,
.twitter-icon {
  width: 24px;
  height: 24px;
}
.instagram-icon {
  object-fit: cover;
}
.bottom,
.social-media-stack {
  display: flex;
  flex-direction: row;
}
.social-media-stack {
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: 0 20px;
}
.bottom {
  align-self: stretch;
  height: 64px;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-xs) var(--padding-101xl);
  box-sizing: border-box;
  text-align: right;
  font-size: var(--header-h4-size);
}
.body,
.desktop-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.desktop-footer {
  align-self: stretch;
  background-color: var(--true-white);
  align-items: flex-start;
  padding: var(--padding-base) 0;
  gap: 17px 0;
  font-size: var(--body-default-size);
  color: var(--grey-400);
}
.body {
  position: absolute;
  width: 100%;
  top: 852px;
  right: 0;
  left: 0;
  align-items: center;
  gap: 40px 0;
  font-size: var(--body-extra-large-size);
  color: var(--grey-600);
}
.hero-text-gradient {
  width: 756px;
  position: relative;
  height: 265px;
  object-fit: cover;
}
.departure-icon,
.label1 {
  position: relative;
  height: 32px;
}
.departure-icon {
  width: 32px;
  border-radius: var(--br-9xs);
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.label1 {
  flex: 1;
  display: flex;
  align-items: center;
}
.base-text-input,
.eye-show-visible {
  border-radius: var(--br-9xs);
  overflow: hidden;
}
.eye-show-visible {
  width: 32px;
  position: relative;
  height: 32px;
  flex-shrink: 0;
  object-fit: cover;
  display: none;
}
.base-text-input {
  align-self: stretch;
  background-color: var(--true-white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-xs);
  gap: 0 8px;
}
.helper-text,
.text-input {
  align-items: center;
  justify-content: flex-start;
}
.helper-text {
  width: 252px;
  border-radius: var(--br-9xs);
  display: none;
  flex-direction: row;
  padding: var(--padding-11xs) var(--padding-9xs);
  box-sizing: border-box;
  font-size: var(--body-extra-small-size);
}
.text-input {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}
.divider {
  align-self: stretch;
  width: 1px;
  position: relative;
  background-color: var(--grey-200);
}
.text-input2 {
  width: 252px;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}
.button1,
.text-input2,
.text-input3 {
  align-items: center;
  justify-content: flex-start;
}
.text-input3 {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px 0;
}
.button1 {
  border-radius: var(--br-9xs);
  background-color: var(--purple-blue);
  height: 48px;
  overflow: hidden;
  flex-direction: row;
  padding: var(--padding-xs) var(--padding-xl);
  color: var(--grey-100);
}
.button1,
.flight-search,
.hero {
  display: flex;
  box-sizing: border-box;
}
.flight-search {
  width: 1202px;
  border-radius: var(--br-9xs);
  background-color: var(--true-white);
  box-shadow: var(--elevation-medium);
  border: 1px solid var(--grey-200);
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.hero {
  position: absolute;
  width: 100%;
  top: 152px;
  right: 0;
  left: 0;
  height: 700px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xs) 0 var(--padding-141xl);
  gap: 48px 0;
  background-image: url(./public/hero@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
}
.x-close-no {
  width: 32px;
  position: relative;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.banner-promotion {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--purple-blue);
  width: 1440px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-13xl);
  box-sizing: border-box;
  gap: 0 10px;
  text-align: center;
  color: var(--purple-white);
}
.nav-list-item {
  color: var(--purple-blue);
}
.button2,
.nav-list-item,
.nav-list-item1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-3xs);
}
.button2 {
  border-radius: var(--br-9xs);
  background-color: var(--purple-blue);
  height: 48px;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
  color: var(--grey-100);
}
.header-avatar {
  width: 40px;
  position: relative;
  height: 40px;
  object-fit: cover;
  display: none;
}
.nav-navigation-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-base);
  gap: 0 16px;
}
.desktop-full,
.yourtourmate-1 {
  width: 100%;
  background-color: var(--true-white);
}
.desktop-full {
  position: absolute;
  top: 64px;
  right: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-5xs) var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--body-default-size);
}
.yourtourmate-1 {
  position: relative;
  height: 900px;
  overflow: hidden;
  text-align: left;
  font-size: var(--header-h4-size);
  color: var(--grey-400);
  font-family: var(--body-default);
}
