.plane-seat-selection-child,
.plane-seat-selection-item {
  position: absolute;
  top: calc(50% - 302.5px);
  left: calc(50% + 234px);
  width: 150px;
  height: 360px;
}
.plane-seat-selection-item {
  left: calc(50% - 384px);
  object-fit: contain;
}
.plane-seat-selection-inner {
  position: absolute;
  top: calc(50% - 1297.5px);
  left: calc(50% - 1062px);
  width: 2124px;
  height: 2595.5px;
}
.plane-seat-selection-child1,
.plane-seat-selection-child2 {
  position: absolute;
  top: 401px;
  left: 1136px;
  width: 73.5px;
  height: 44.3px;
  opacity: 0.4;
}
.plane-seat-selection-child2 {
  left: 1217px;
  object-fit: contain;
}
.rectangle-icon {
  position: absolute;
  top: calc(50% - 1024.5px);
  left: calc(50% - 109px);
  width: 218px;
  height: 1902.5px;
}
.seat-icon {
  width: 30px;
  position: relative;
  height: 40px;
}
.div13 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-number {
  width: 30px;
  position: relative;
  height: 32px;
}
.business,
.seat-row-business {
  background-color: var(--true-white);
  display: flex;
  align-items: center;
}
.seat-row-business {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.business {
  position: absolute;
  top: calc(50% - 868.5px);
  left: calc(50% - 100px);
  border-radius: var(--br-5xs);
  width: 200px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  gap: 12px 0;
}
.exit-row {
  position: absolute;
  top: 1px;
  left: 25px;
  font-weight: 600;
}
.information-icon1 {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: 2.25px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.seat-row-exit-row {
  align-self: stretch;
  position: relative;
  background-color: var(--true-white);
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--body-extra-small-size);
}
.seat-icon20 {
  width: 22px;
  position: relative;
  height: 32px;
}
.seat-row-economy {
  align-self: stretch;
  background-color: var(--true-white);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-9xs);
  gap: 0 5px;
}
.economy,
.plane-seat-selection {
  position: absolute;
  overflow: hidden;
}
.economy {
  top: calc(50% - 540.5px);
  left: calc(50% - 100px);
  border-radius: var(--br-5xs);
  background-color: var(--true-white);
  width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: 4px 0;
}
.plane-seat-selection {
  top: -966px;
  left: -853px;
  width: 2426px;
  height: 2965px;
}
.border {
  align-self: stretch;
  width: 1px;
  position: relative;
  background-color: var(--grey-200);
}
.code,
.location {
  width: 87px;
  position: relative;
  display: flex;
  align-items: center;
}
.code {
  text-transform: uppercase;
  font-weight: 800;
}
.location {
  font-size: var(--body-extra-small-size);
  color: var(--purple-extra-light);
}
.flight-info-information-da {
  width: 129px;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
}
.arrowright-icon11,
.arrowright-icon12 {
  width: 32px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrowright-icon12 {
  display: none;
}
.flight-info-information-da2 {
  width: 129px;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
}
.flight-information {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divider6 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-600);
  width: 1px;
}
.flight-info-divider-dark {
  width: 1px;
  position: relative;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
}
.span6 {
  color: var(--grey-400);
}
.direction,
.time-data {
  align-self: stretch;
  position: relative;
}
.direction {
  font-size: var(--body-extra-small-size);
  color: var(--purple-extra-light);
}
.flight-info-inactive {
  width: 210px;
  background-color: var(--purple-blue);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: 4px 0;
}
.chevron-icon {
  width: 20px;
  position: relative;
  height: 0;
}
.flight-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.flight-info1,
.progress-step {
  display: flex;
  align-items: flex-start;
}
.flight-info1 {
  width: 210px;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: 4px 0;
}
.progress-step {
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--body-default-size);
  color: var(--true-white);
}
.progress-step-header-default {
  align-self: stretch;
  background-color: var(--grey-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-extra-large-size);
}
.economy-seats-icon {
  width: 320px;
  position: relative;
  height: 180px;
}
.header {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.label47 {
  position: relative;
  line-height: 18px;
}
.badge-selected,
.header-and-badge {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge-selected {
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #605dec, #2a26d9);
  align-items: center;
  padding: var(--padding-11xs) var(--padding-7xs);
  font-size: var(--body-small-size);
  color: var(--true-white);
}
.header-and-badge {
  width: 147px;
  align-items: flex-start;
  gap: 0 16px;
  font-size: var(--header-h4-size);
}
.description28 {
  align-self: stretch;
  position: relative;
  color: var(--grey-400);
}
.divider-thick,
.point-heavy-icon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider-thick {
  width: 32px;
  background-color: var(--purple-blue);
  height: 4px;
  opacity: 0.5;
}
.point-heavy-icon {
  width: 24px;
  height: 24px;
}
.bullets-of-key {
  flex: 1;
  position: relative;
}
.feature-list-bullet,
.feature-list-bullet3 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  gap: 0 12px;
}
.feature-list-bullet {
  align-self: stretch;
  display: flex;
}
.feature-list-bullet3 {
  width: 272px;
  display: none;
  box-sizing: border-box;
}
.feature-list,
.feature-list-economy {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px 0;
}
.feature-list {
  width: 272px;
  align-items: flex-start;
}
.feature-list-economy {
  border-radius: var(--br-5xs);
  align-items: center;
  padding: var(--padding-13xl) var(--padding-5xs);
}
.badge-selected1,
.header-and-badge1 {
  flex-direction: row;
  justify-content: flex-start;
}
.badge-selected1 {
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #5cd6c0, #22c3a6);
  display: none;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-7xs);
  font-size: var(--body-small-size);
  color: var(--true-white);
}
.header-and-badge1 {
  display: flex;
  align-items: flex-start;
  gap: 0 16px;
  font-size: var(--header-h4-size);
}
.divider-thick1 {
  width: 32px;
  position: relative;
  background-color: var(--turquoise);
  height: 4px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.5;
}
.feature-lists {
  align-self: stretch;
  flex: 1;
  backdrop-filter: var(--background-blur);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: 0 4px;
  color: var(--grey-600);
}
.divider8 {
  align-self: stretch;
  position: relative;
  background-color: var(--grey-200);
  height: 1px;
}
.seat-selection-divider {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.label49 {
  width: 160px;
  position: relative;
  display: flex;
  align-items: center;
}
.name28 {
  position: relative;
  font-size: var(--header-h4-size);
  font-weight: 600;
  color: var(--grey-600);
}
.passenger-data {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: 4px 0;
}
.label50 {
  position: relative;
}
.passenger-data1,
.user-selections {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.passenger-data1 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs);
  gap: 4px 0;
}
.user-selections {
  flex-direction: row;
  gap: 0 16px;
}
.button20 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--purple-blue);
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-xs) var(--padding-xl);
}
.button-row2,
.button20,
.button21,
.content1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button21 {
  border-radius: var(--br-9xs);
  background-color: var(--purple-blue);
  height: 48px;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-xs) var(--padding-xl);
  box-sizing: border-box;
  color: var(--grey-100);
}
.button-row2,
.content1 {
  gap: 0 16px;
}
.button-row2 {
  align-items: flex-start;
  font-size: var(--body-default-size);
  color: var(--purple-blue);
}
.content1 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
}
.navigation-footer {
  align-self: stretch;
  background-color: var(--purple-white-light);
  flex-direction: column;
  align-items: flex-start;
  color: var(--grey-400);
}
.content,
.navigation-footer,
.seat-selector {
  display: flex;
  justify-content: flex-start;
}
.content {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.seat-selector {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
  backdrop-filter: var(--background-blur);
  width: 712px;
  flex-direction: row;
  align-items: center;
  text-align: left;
  color: var(--grey-100);
}
.menu-icon,
.wordmark-icon6 {
  position: absolute;
  overflow: hidden;
}
.menu-icon {
  top: calc(50% - 16px);
  left: 24px;
  border-radius: var(--br-9xs);
  width: 32px;
  height: 32px;
}
.wordmark-icon6 {
  top: calc(50% - 27px);
  left: 68px;
  width: 131px;
  height: 54px;
}
.desktop-basic {
  position: absolute;
  width: calc(100% - 720px);
  top: 0;
  right: 720px;
  left: 0;
  height: 96px;
}
.yourtourmate-11 {
  width: 100%;
  position: relative;
  background-color: var(--true-white);
  height: 900px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--body-small-size);
  color: var(--grey-400);
  font-family: var(--body-default);
}
