.plane-seat-selection-child3,
.plane-seat-selection-child4 {
  position: absolute;
  top: calc(50% - 302.5px);
  left: calc(50% + 234px);
  width: 150px;
  height: 360px;
}
.plane-seat-selection-child4 {
  left: calc(50% - 384px);
  object-fit: contain;
}
.plane-seat-selection-child5 {
  position: absolute;
  top: calc(50% - 1297.5px);
  left: calc(50% - 1062px);
  width: 2124px;
  height: 2595.5px;
}
.plane-seat-selection-child6,
.plane-seat-selection-child7 {
  position: absolute;
  top: 401px;
  left: 1136px;
  width: 73.5px;
  height: 44.3px;
  opacity: 0.4;
}
.plane-seat-selection-child7 {
  left: 1217px;
  object-fit: contain;
}
.plane-seat-selection-child8 {
  position: absolute;
  top: calc(50% - 1024.5px);
  left: calc(50% - 109px);
  width: 218px;
  height: 1902.5px;
}
.seat-icon188 {
  width: 30px;
  position: relative;
  height: 40px;
}
.div46 {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.row-number33 {
  width: 30px;
  position: relative;
  height: 32px;
}
.business1,
.seat-row-business5 {
  background-color: var(--true-white);
  display: flex;
  align-items: center;
}
.seat-row-business5 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-9xs) var(--padding-5xs);
}
.business1 {
  position: absolute;
  top: calc(50% - 868.5px);
  left: calc(50% - 100px);
  border-radius: var(--br-5xs);
  width: 200px;
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-xs) 0;
  box-sizing: border-box;
  gap: 12px 0;
}
.exit-row4 {
  position: absolute;
  top: 1px;
  left: 25px;
  font-weight: 600;
}
.information-icon5 {
  position: absolute;
  top: 0;
  left: 4px;
  border-radius: 2.25px;
  width: 18px;
  height: 18px;
  overflow: hidden;
  object-fit: cover;
}
.seat-row-exit-row4 {
  align-self: stretch;
  position: relative;
  background-color: var(--true-white);
  height: 18px;
  overflow: hidden;
  flex-shrink: 0;
  font-size: var(--body-extra-small-size);
}
.seat-icon208 {
  width: 22px;
  position: relative;
  height: 32px;
}
.economy1,
.seat-row-economy28 {
  background-color: var(--true-white);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.seat-row-economy28 {
  align-self: stretch;
  flex-direction: row;
  padding: var(--padding-9xs);
  gap: 0 5px;
}
.economy1 {
  position: absolute;
  top: calc(50% - 540.5px);
  left: calc(50% - 100px);
  border-radius: var(--br-5xs);
  width: 200px;
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs) 0;
  box-sizing: border-box;
  gap: 4px 0;
}
.plane-seat-selection1 {
  position: absolute;
  top: -145px;
  left: -853px;
  width: 2426px;
  height: 2965px;
  overflow: hidden;
}
.border1 {
  align-self: stretch;
  width: 1px;
  position: relative;
  background-color: var(--grey-200);
}
.code3,
.location3 {
  width: 87px;
  position: relative;
  display: flex;
  align-items: center;
}
.code3 {
  text-transform: uppercase;
  font-weight: 800;
}
.location3 {
  font-size: var(--body-extra-small-size);
  color: var(--purple-extra-light);
}
.flight-info-information-da3 {
  width: 129px;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
}
.arrowright-icon13,
.arrowright-icon14 {
  width: 32px;
  position: relative;
  border-radius: var(--br-9xs);
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.arrowright-icon14 {
  display: none;
}
.flight-info-information-da5 {
  width: 129px;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
}
.flight-information1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.divider9 {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--grey-600);
  width: 1px;
}
.flight-info-divider-dark2 {
  width: 1px;
  position: relative;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
}
.span8 {
  color: var(--grey-400);
}
.direction2,
.time-data2 {
  align-self: stretch;
  position: relative;
}
.direction2 {
  font-size: var(--body-extra-small-size);
  color: var(--purple-extra-light);
}
.flight-info-inactive1 {
  width: 210px;
  background-color: var(--purple-blue);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: 4px 0;
}
.chevron-icon1 {
  width: 20px;
  position: relative;
  height: 0;
}
.flight-info2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.flight-info3,
.progress-step1 {
  display: flex;
  align-items: flex-start;
}
.flight-info3 {
  width: 210px;
  background-color: var(--grey-900);
  height: 88px;
  overflow: hidden;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xl) var(--padding-5xl);
  box-sizing: border-box;
  gap: 4px 0;
}
.progress-step1 {
  flex-direction: row;
  justify-content: flex-start;
  font-size: var(--body-default-size);
  color: var(--true-white);
}
.progress-step-header-default1 {
  align-self: stretch;
  background-color: var(--grey-900);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: var(--body-extra-large-size);
}
.economy-seats-icon1 {
  width: 320px;
  position: relative;
  height: 180px;
}
.header2 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.label53 {
  position: relative;
  line-height: 18px;
}
.badge-selected2,
.header-and-badge2 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.badge-selected2 {
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #605dec, #2a26d9);
  align-items: center;
  padding: var(--padding-11xs) var(--padding-7xs);
  font-size: var(--body-small-size);
  color: var(--true-white);
}
.header-and-badge2 {
  width: 147px;
  align-items: flex-start;
  gap: 0 16px;
  font-size: var(--header-h4-size);
}
.description30 {
  align-self: stretch;
  position: relative;
  color: var(--grey-400);
}
.divider-thick2,
.point-heavy-icon6 {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.divider-thick2 {
  width: 32px;
  background-color: var(--purple-blue);
  height: 4px;
  opacity: 0.5;
}
.point-heavy-icon6 {
  width: 24px;
  height: 24px;
}
.bullets-of-key12 {
  flex: 1;
  position: relative;
}
.feature-list-bullet12,
.feature-list-bullet15 {
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--padding-9xs);
  gap: 0 12px;
}
.feature-list-bullet12 {
  align-self: stretch;
  display: flex;
}
.feature-list-bullet15 {
  width: 272px;
  display: none;
  box-sizing: border-box;
}
.feature-list-economy1,
.feature-list2 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 16px 0;
}
.feature-list2 {
  width: 272px;
  align-items: flex-start;
}
.feature-list-economy1 {
  border-radius: var(--br-5xs);
  align-items: center;
  padding: var(--padding-13xl) var(--padding-5xs);
}
.badge-selected3,
.header-and-badge3 {
  flex-direction: row;
  justify-content: flex-start;
}
.badge-selected3 {
  border-radius: var(--br-9xs);
  background: linear-gradient(180deg, #5cd6c0, #22c3a6);
  display: none;
  align-items: center;
  padding: var(--padding-11xs) var(--padding-7xs);
  font-size: var(--body-small-size);
  color: var(--true-white);
}
.header-and-badge3 {
  display: flex;
  align-items: flex-start;
  gap: 0 16px;
  font-size: var(--header-h4-size);
}
.divider-thick3 {
  width: 32px;
  position: relative;
  background-color: var(--turquoise);
  height: 4px;
  overflow: hidden;
  flex-shrink: 0;
  opacity: 0.5;
}
.feature-lists1 {
  align-self: stretch;
  flex: 1;
  backdrop-filter: var(--background-blur);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-5xs) var(--padding-base);
  gap: 0 4px;
  color: var(--grey-600);
}
.divider11 {
  align-self: stretch;
  position: relative;
  background-color: var(--grey-200);
  height: 1px;
}
.seat-selection-divider1 {
  align-self: stretch;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.label55 {
  width: 160px;
  position: relative;
  display: flex;
  align-items: center;
}
.name30 {
  position: relative;
  font-size: var(--header-h4-size);
  font-weight: 600;
  color: var(--grey-600);
}
.passenger-data2 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xs);
  gap: 4px 0;
}
.label56 {
  position: relative;
}
.passenger-data3,
.user-selections1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.passenger-data3 {
  overflow: hidden;
  flex-direction: column;
  padding: var(--padding-5xs);
  gap: 4px 0;
}
.user-selections1 {
  flex-direction: row;
  gap: 0 16px;
}
.button22 {
  border-radius: var(--br-9xs);
  border: 1px solid var(--purple-blue);
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-xs) var(--padding-xl);
}
.button-row3,
.button22,
.button23,
.content3 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button23 {
  border-radius: var(--br-9xs);
  background-color: var(--color-lavender-100);
  border: 1px solid var(--grey-400);
  box-sizing: border-box;
  height: 48px;
  overflow: hidden;
  align-items: center;
  padding: var(--padding-xs) var(--padding-xl);
  color: var(--grey-400);
}
.button-row3,
.content3 {
  gap: 0 16px;
}
.button-row3 {
  align-items: flex-start;
  font-size: var(--body-default-size);
  color: var(--purple-blue);
}
.content3 {
  align-self: stretch;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
}
.navigation-footer1 {
  align-self: stretch;
  background-color: var(--purple-white-light);
  flex-direction: column;
  align-items: flex-start;
  color: var(--grey-400);
}
.content2,
.navigation-footer1,
.seat-selector1 {
  display: flex;
  justify-content: flex-start;
}
.content2 {
  align-self: stretch;
  flex-direction: column;
  align-items: flex-start;
}
.seat-selector1 {
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-gray-100);
  backdrop-filter: var(--background-blur);
  width: 712px;
  flex-direction: row;
  align-items: center;
  text-align: left;
  color: var(--grey-100);
}
.menu-icon1,
.wordmark-icon7 {
  position: absolute;
  overflow: hidden;
}
.menu-icon1 {
  top: calc(50% - 16px);
  left: 24px;
  border-radius: var(--br-9xs);
  width: 32px;
  height: 32px;
}
.wordmark-icon7 {
  top: calc(50% - 27px);
  left: 68px;
  width: 131px;
  height: 54px;
  display: none;
}
.desktop-basic1 {
  position: absolute;
  width: calc(100% - 720px);
  top: 0;
  right: 720px;
  left: 0;
  height: 96px;
}
.yourtourmate-10 {
  width: 100%;
  position: relative;
  background-color: var(--true-white);
  height: 900px;
  overflow-y: auto;
  text-align: center;
  font-size: var(--body-small-size);
  color: var(--grey-400);
  font-family: var(--body-default);
}
